<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        table, th, tr, td{
            border : 1px solid black;
            padding : 5px 10px;
            text-align: center;
            border-collapse: collapse;
        }
        .search-area{
            margin: 10px;
        }
        .search-input{
            margin-right: 5px;
            outline: none;
        }
        .search-area select{
            margin-left: 5px;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- html. 반드시 id가 app인 태그 안에서 작업 -->
        <!-- (script 맨 하단 app.mount('#app'); 여기 아이디와 같아야 함) -->
        <div id="container">
            <div id = "product-table">
            <div class = "search-area">
                검색어 : <input v-model="keyword" @keyup.enter="fnList" class="search-input">
                <button @click="fnList">검색</button>
                <select v-model="brand" @change ="fnList">
                    <option>:: 선택 ::</option>
                    <option value="삼성">삼성</option>
                    <option value="애플">애플</option>
                    <option value="LG">LG</option>
                    <option value="소니">소니</option>
                    <option value="마이크로소프트">마이크로소프트</option>
                    <option value="닌텐도">닌텐도</option>
                    <option value="다이슨">다이슨</option>
                </select>
            </div>
                <table>
            <tr>
                <th>선택</th>
                <th>제품번호</th>
                <th>제품명</th>
                <th>브랜드명</th>
                <th>가격</th>
                <th>출시일</th>
            </tr>
            <tr v-for="(item, index) in list">
                <td><input type="radio" v-model="productId" :value="item.PRODUCT_ID" name="product"></td>
                <td>{{item.PRODUCT_ID}}</td>
                <td>{{item.PRODUCT_NAME}}</td>
                <td>{{item.BRAND}}</td>
                <td>{{item.PRICE}}</td>
                <td>{{item.RELEASE}}</td>
            </tr>
                </table>
                <div>
                    <button @click="fnRemove">삭제</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    const app = Vue.createApp({
        data() {
            return {
                list : [],
                keyword : "",
                brand : ""
                // 변수 - (key : value)
            };
        },
        methods: {
            // 함수(메소드) - (key : function())
            fnList: function () {
                let self = this;
                $.ajax({
                    url: "http://192.168.30.57:3009/product/list",
                    dataType: "json",
                    type: "GET",
                    data: {keyword : self.keyword, brand : self.brand},
                    success: function (data) {
                       console.log(data);
                       self.list = data.productList;
                    }
                });
            },
            fnRemove : function(){
                let self = this;

            }
        }, // methods
        mounted() {
            let self = this;
            self.fnList();
            // 처음 시작할 때 실행되는 부분
        }
    });

    app.mount('#app');
</script>